coverage==6.5.0 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.11"
pytz==2024.1 ; python_version >= "3.9" and python_version < "3.11"
scipy==1.12.0 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
